@font-face {
  font-family: "Frutiger W01";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix");
  src: url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix")
      format("eot"),
    url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2")
      format("woff2"),
    url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff") format("woff"),
    url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.ttf")
      format("truetype"),
    url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.svg#7def0e34-f28d-434f-b2ec-472bde847115")
      format("svg");
}

@font-face {
  font-family: "Frutiger W01";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.eot?#iefix");
  src: url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.eot?#iefix")
      format("eot"),
    url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2")
      format("woff2"),
    url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff") format("woff"),
    url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.ttf")
      format("truetype"),
    url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.svg#eae74276-dd78-47e4-9b27-dac81c3411ca")
      format("svg");
}

html,
body {
  color: #231f20;
  background-color: #e8edee;
  font-family: "Frutiger W01";
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-icon {
  width: 25px;
  height: 25px;
  padding-right: 25px;
  padding-top: 5px;
}

.sidebar {
  display: relative;
  color: #ddd;
  background-color: #231f20;
  width: 0px;
  transform: translateX(-450px);
  height: 100vh;
  transition: all 0.25s ease-in-out;
}

.sidebar.is-active {
  width: 450px;
  padding-left: 15px;
  padding-right: 15px;
  transform: translateX(0px);
  transition: all 0.25s ease-in-out;
}

.main-content {
  padding: 0px 25px 0px 25px;
  width: 100%;
}

.sidebar-header {
  color: #ffffff;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.map {
  height: calc(100vh - 100px);
  width: 100%;
}

.nhs-logo {
  height: 40px;
  width: 100px;
  padding-right: 15px;
}

.sidebar-input-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sidebar-input-label {
  font-size: 17px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #41b6e6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #41b6e6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.dropdown {
  padding: 5px;
  border-radius: 10px;
  background-color: #e8edee;
}

.sidebar-input-wrapper--with-hint > div > p {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.sidebar-input-wrapper--with-hint {
  width: 100%;
}

.sidebar-input-wrapper--with-hint > div {
  max-width: calc(100% - 60px);
}

.hint {
  font-size: 10px;
  max-width: 80%;
}

.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  padding: 4px;
  border-radius: 25px;
  height: 25px;
  background-color: #ccc;
  outline: none;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #41b6e6;
  cursor: pointer;
}

.sidebar-input-wrapper--slider > p {
  width: 30%;
}

.sidebar-input-wrapper--no-padding > p {
  margin-bottom: 0px;
}

.leaflet-control-messagebox {
  background-color: #fff;
  padding: 5px;
  border: 2px solid #231f20;
}

.isochrone-error {
  display: none;
  color: red;
}
.isochrone-loading {
  display: none;
}

.is-shown {
  display: block !important;
}

.flex-align-center {
  align-items: baseline;
}
